.huayu {
    width: 625px;
    height: 318px;
    overflow: hidden;
    /* background-color: orange; */
}

.huayuGeDan {
    width: 1875px;
    height: 280px;
    position: relative;
    left: 0;
}

.huayuGeDan>li {
    float: left;
}

.huayu>.huayuGeDan>.GeDan1>.huayuGeDan1 {
    width: 625px;
    height: 280px;
    padding-top: 10px;
    /* background-color: pink; */
}

.huayu>.huayuGeDan>.GeDan1>.huayuGeDan1>li {
    font: 13px/1.5 \5fae\8f6f\96c5\9ed1, simsun, sans-serif;
    text-align: left;
    margin-left: 10px;
    height: 35px;
    overflow: hidden;
    line-height: 35px;
    /* background-color: red; */
    cursor: pointer;
}

.huayu>.huayuGeDan>.GeDan1>.huayuGeDan1>.liBckCor {
    font: 13px/1.5 \5fae\8f6f\96c5\9ed1, simsun, sans-serif;
    text-align: left;
    margin-left: 10px;
    height: 35px;
    overflow: hidden;
    line-height: 35px;
    background-color: #f5f8fb;
    color: #0c8ed9;
    cursor: pointer;
}

.huayu>.huayuGeDan>.GeDan1>.huayuGeDan1>li>img {
    margin-top: 10px;
    margin-right: 60px;
    float: right;
}

.huayu>.huayuGeDan>.GeDan1>.Time {
    width: 45px;
    height: 280px;
    margin-top: -290px;
    padding-top: 10px;
    float: right;
}

.huayu>.huayuGeDan>.GeDan1>.Time>li {
    font: 13px/1.5 \5fae\8f6f\96c5\9ed1, simsun, sans-serif;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
}

.huayu>.huayuGeDan>.GeDan2>.huayuGeDan1 {
    width: 625px;
    height: 280px;
    padding-top: 10px;
    /* background-color: pink; */
}

.huayu>.huayuGeDan>.GeDan2>.huayuGeDan1>.liBckCor1 {
    font: 13px/1.5 \5fae\8f6f\96c5\9ed1, simsun, sans-serif;
    text-align: left;
    margin-left: 10px;
    height: 35px;
    overflow: hidden;
    line-height: 35px;
    background-color: #f5f8fb;
    color: #0c8ed9;
    cursor: pointer;
}

.huayu>.huayuGeDan>.GeDan2>.huayuGeDan1>li {
    font: 13px/1.5 \5fae\8f6f\96c5\9ed1, simsun, sans-serif;
    text-align: left;
    margin-left: 10px;
    height: 35px;
    overflow: hidden;
    line-height: 35px;
    cursor: pointer;
}

.huayu>.huayuGeDan>.GeDan2>.huayuGeDan1>li>img {
    margin-top: 10px;
    margin-right: 60px;
    float: right;
}

.huayu>.huayuGeDan>.GeDan2>.Time {
    width: 45px;
    height: 280px;
    margin-top: -290px;
    padding-top: 10px;
    float: right;
}

.huayu>.huayuGeDan>.GeDan2>.Time>li {
    font: 13px/1.5 \5fae\8f6f\96c5\9ed1, simsun, sans-serif;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
}

.huayu>.huayuGeDan>.GeDan3>.huayuGeDan1 {
    width: 625px;
    height: 280px;
    padding-top: 10px;
    /* background-color: pink; */
}

.huayu>.huayuGeDan>.GeDan3>.huayuGeDan1>.liBckCor2 {
    font: 13px/1.5 \5fae\8f6f\96c5\9ed1, simsun, sans-serif;
    text-align: left;
    margin-left: 10px;
    height: 35px;
    overflow: hidden;
    background-color: #f5f8fb;
    color: #0c8ed9;
    line-height: 35px;
    cursor: pointer;
}

.huayu>.huayuGeDan>.GeDan3>.huayuGeDan1>li {
    font: 13px/1.5 \5fae\8f6f\96c5\9ed1, simsun, sans-serif;
    text-align: left;
    margin-left: 10px;
    height: 35px;
    overflow: hidden;
    line-height: 35px;
    cursor: pointer;
}

.huayu>.huayuGeDan>.GeDan3>.huayuGeDan1>li>img {
    margin-top: 10px;
    margin-right: 60px;
    float: right;
}

.huayu>.huayuGeDan>.GeDan3>.Time {
    width: 45px;
    height: 280px;
    margin-top: -290px;
    padding-top: 10px;
    float: right;
}

.huayu>.huayuGeDan>.GeDan3>.Time>li {
    font: 13px/1.5 \5fae\8f6f\96c5\9ed1, simsun, sans-serif;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
}

.huayu>.FanYe {
    font: 13px/1.5 \5fae\8f6f\96c5\9ed1, simsun, sans-serif;
    margin-top: 5px;
}

.huayu>.FanYe>img:first-child {
    cursor: pointer;
    margin-right: 15px;
}

.huayu>.FanYe>img:last-child {
    cursor: pointer;
    margin-left: 15px;
}